/*

----- Typography system -----
Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

----- Whitespace -----
Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

----- Colors -----
- Primary:
- Tint:
- Shade:
- Background:
- Background tint:

*/

html {
  font-size: 62.5%;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

body {
  color: white;
  background-color: hsl(206deg 67% 9%);
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

h2 {
  font-size: 1.8rem;
}
p {
  font-size: 1.6rem;
}
a {
  color: white;
  text-decoration: none;
}

.background {
  background-image: linear-gradient(
    0deg,
    hsl(206deg 100% 5%) 0%,
    hsl(206deg 93% 6%) 19%,
    hsl(206deg 88% 6%) 27%,
    hsl(206deg 83% 7%) 34%,
    hsl(206deg 80% 7%) 41%,
    hsl(206deg 76% 7%) 47%,
    hsl(206deg 74% 8%) 53%,
    hsl(206deg 72% 8%) 59%,
    hsl(206deg 70% 8%) 66%,
    hsl(206deg 68% 9%) 73%,
    hsl(206deg 67% 9%) 81%,
    hsl(206deg 67% 9%) 100%
  );
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2300fbff' fill-opacity='0.08'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.vidro-grids {
  /* From https://css.glass */
  background: rgba(20, 36, 65, 0.315);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  border: 0.1rem solid rgba(54, 57, 62, 0.63);
  border-radius: 5rem;
  padding: 2rem;
  max-width: 128rem;
  margin: 0 auto;
}
.grid-conteiner1 {
  /* GRID */
  display: grid;
  grid-template-rows: 34rem 19rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2em;

  grid-template-areas:
    "about        about         curriculo"
    "knowledge    knowledge     curriculo";
}

.grid-conteiner2 {
  /* GRID */
  display: grid;
  grid-template-rows: 35rem /* 30rem 10rem; */;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2em;

  grid-template-areas: "projects arts";
}

.grid-conteiner3 {
  /* GRID */
  display: grid;
  grid-template-rows: 35rem 10rem /* 30rem 10rem; */;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  grid-template-areas:
    "design contact logo"
    "footer footer footer";
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 1000ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    80rem circle at var(--mouse-x) var(--mouse-y),
    rgba(61, 109, 197, 0.192),
    transparent 40%
  );
  z-index: -1;
}

.vidro {
  /* From https://css.glass */
  background: rgba(20, 36, 65, 0.315);
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(1rem);
  border: 0.1rem solid rgba(54, 57, 62, 0.63);
  border-radius: 5rem;
  padding: 2.5rem 5rem;
}

.hero {
  background-image: linear-gradient(
      to top,
      hsl(206deg 67% 9%) 0%,
      transparent 100%
    ),
    url("https://raw.githubusercontent.com/ArthR1beiro/ArthurPortfolio/main/imagens/gifs/back.gif");
  height: 50rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}

.hero > div {
  position: absolute;
}
.text-hero {
  transition: opacity 0.5s, scale 1s;
  opacity: 0;
  font-size: 5rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
  scale: 0.5;
}

.text-hero-on {
  transition: opacity 0.5s, scale 1s;
  scale: 1;
  opacity: 1;
}

.ref-hero {
  transition: opacity 0.5s, transform 0.6s 0.4s;
  opacity: 0;
  text-align: right;
  width: 100%;
  transform: translatex(20rem);
}
.ref-hero-on {
  transition: opacity 0.5s, transform 0.6s 0.4s;
  opacity: 1;
  transform: translate(0);
}

.img-perfil {
  height: 23rem;
  border-radius: 50%;
}

.about {
  grid-area: about;
  text-align: justify;
}

.about article {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about a {
  color: #6ecec2;
}

.curriculo {
  text-align: left;
  overflow: auto;
  grid-area: curriculo;
}

.curriculo img {
  width: 100%;
  border-radius: 1rem;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1);
}

.curriculo button {
  display: none;
}

.curriculo img:hover {
  transform: scale(1.05);
}

.knowledge {
  grid-area: knowledge;
}
.knowledge h1 {
  margin-bottom: 1.5rem;
}

.icons-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-conteiner img {
  width: 8rem;
  height: 8rem;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icons-conteiner img:hover {
  transform: scale(1.2);
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltiptext {
  visibility: hidden;
  opacity: 0;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, 2.5rem);
  color: white;
  background: rgba(10, 34, 78, 0.582);
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 1.8rem);
}

.projects {
  grid-area: projects;
  padding: 0 2rem 0 3rem;
}
.projects h1 {
  padding: 2.5rem 5rem 0rem 5rem;
  margin-bottom: 1.5rem;
}
.projects-flex {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.projects-text-conteiner {
  text-align: justify;
  position: relative;
  width: 100%;
  height: 100%;
}
.project-text {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 0;
  pointer-events: none;
}

.project-text-on {
  opacity: 1;
  display: block;
  z-index: 1;
  pointer-events: all;
}

.projects-conteiner {
  justify-self: right;
  height: 25rem;
  position: relative;
}

.projects-conteiner > img {
  height: 100%;
}

.projects-img-conteiner {
  background-color: black;
  height: 16rem;
  width: 25.4rem;
  left: 4.5rem;
  bottom: 8rem;
  position: absolute;
}

.projects-img-conteiner img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.projects-img-conteiner img:hover {
  scale: 1.05;
}

.project-img {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0;
  pointer-events: none;
}

.project-img-on {
  pointer-events: all;
  display: block;
  opacity: 1;
  z-index: 1;
}
#project-prev-button,
#project-next-button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  cursor: pointer;
  /* opacity: 0.5; */
  transition: fill 0.5s, transform 0.5s;
  background: transparent;
  fill: #6ecec2;
}
#project-next-button {
  position: absolute;
  top: 28.2rem;
  left: 22rem;
}
#project-prev-button {
  transform: scale(-1);
  position: absolute;
  top: 28rem;
}

#project-prev-button:hover {
  transform: scale(-1.5);
}

#project-next-button:hover {
  transform: scale(1.5);
}

.project-text h2 {
  color: #6ecec2;
}

.project-text a > p {
  transition: scale 0.5s;
  padding: 1rem;
  color: #6ecec2;
  text-align: center;
}

.project-text a > p:hover {
  scale: 1.1;
}
.arts {
  overflow: hidden;
  grid-area: arts;
  padding: 0 2rem;
}
.arts h1 {
  padding: 2.5rem 5rem 0rem 5rem;
  margin-bottom: 1.5rem;
}

.arts-conteiner {
  position: relative;
  height: 31rem;
  width: 100%;
}

.art-tooltiptext {
  opacity: 1;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, -2rem);
  color: white;
  width: 15rem;
  padding: 0.5rem 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.art-tooltip:hover .art-tooltiptext {
  visibility: visible;
  opacity: 0;
  transform: translate(-50%, 10rem);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.art1,
.art2,
.art3 {
  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgb(110, 206, 194, 0.5);
}

.art1 {
  position: absolute;
  background: rgb(6, 3, 60);
  background: linear-gradient(
    45deg,
    rgba(6, 3, 60, 0) 0%,
    rgba(18, 8, 96, 0.5368522408963585) 91%
  );
  height: 13rem;
  width: 13rem;
  border-radius: 30% 70% 70% 30% / 30% 28% 72% 70%;
}

.art1 img {
  height: 10rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  border-radius: 1rem;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid #6ecec2;
}

.art1 img:hover {
  scale: 1.05;
}

.art2 {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(6, 3, 60, 0) 0%,
    rgba(18, 8, 96, 0.7553396358543417) 82%
  );
  height: 13rem;
  width: 25rem;
  top: 9rem;
  left: 15rem;
  border-radius: 26% 74% 25% 75% / 40% 29% 71% 60%;
}

.art2 img {
  height: 20rem;
  position: absolute;
  left: 2rem;
  top: 0rem;
  border-radius: 1rem;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  filter: brightness(40%);
}

.art2 img:hover {
  scale: 1.05;
  filter: brightness(1);
}

.art3 {
  position: absolute;

  background: linear-gradient(
    330deg,
    rgba(6, 3, 60, 0) 0%,
    rgba(18, 8, 96, 0.592874649859944) 82%
  );
  right: 0;
  top: -5rem;
  height: 13rem;
  width: 13rem;
  border-radius: 30% 70% 70% 30% / 30% 28% 72% 70%;
}

.art3 img {
  height: 16rem;
  position: absolute;
  right: 1rem;
  top: 2rem;
  border-radius: 1rem;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px solid #6ecec2;
}

.art3 img:hover {
  scale: 1.05;
}

.design {
  grid-area: design;
  padding: 0;
}

.design h1 {
  padding: 2.5rem 5rem 0rem 5rem;
  margin-bottom: 1.5rem;
}

.conteiner-slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.conteiner-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 25rem;
}

.slider {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: opacity 1s;
  border: 0.1rem solid rgba(54, 57, 62, 0.63);
}

.on {
  opacity: 1;
  display: block;
}

#prev-button,
#next-button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  cursor: pointer;
  /* opacity: 0.5; */
  transition: fill 1s, transform 0.5s;
  background: transparent;
  fill: #6ecec2;
}

#prev-button {
  transform: rotate(180deg);
}

#prev-button:hover {
  transform: scale(-1.5);
}

#next-button:hover {
  transform: scale(1.5);
}

#carousel-back {
  transition: opacity 1s;
}

#carousel-back > h1 {
  color: inherit;
}

.contact {
  grid-area: contact;
  transition: scale 0.5s, color 0.5s;
}

.contact-conteiner > a:hover svg {
  scale: 1.3;
  transition: all 0.5s;
}

.contact-conteiner > a:hover p {
  color: #6ecec2;
  transition: all 0.5s;
}
.contact-conteiner {
  align-content: center;
  align-self: auto;
  transition: all 0.5s;
}
.contact svg {
  height: 3.5rem;
  fill: #6ecec2;
  transition: scale 0.5s;
}

.contact a {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-bottom: 1rem;
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  position: relative;
  pointer-events: none;
}

.conteiner-logo {
  height: 100%;
  width: 100%;
  -webkit-mask-image: url("https://raw.githubusercontent.com/ArthR1beiro/ArthurPortfolio/main/imagens/logo/mask.webp");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  position: absolute;
  overflow: hidden;
}

.img-mask {
  object-fit: cover;
  object-position: center;
  left: -5rem;
  bottom: 2rem;
  position: absolute;
  opacity: 0;
  transition: opacity 5s;
}

.img-mask-on {
  object-fit: cover;
  object-position: center;
  left: -5rem;
  bottom: 2rem;
  position: absolute;
  opacity: 1;
  transition: opacity 5s;
}

.logo img {
  height: 100%;
}

.mask-border {
  z-index: 1;
}

.footer {
  text-align: center;
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
}

.footer a {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer a:hover {
  color: #6ecec2;
}

.footer span {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer span:hover {
  color: #6ecec2;
}

@media screen and (max-width: 40rem) {
  * {
    box-sizing: border-box;
  }
  .ref-hero {
    transition: opacity 0.5s, transform 0.6s 0.4s;
    opacity: 0;
    text-align: right;
    width: 100%;
    transform: translatex(0rem);
  }
  .ref-hero-on {
    transition: opacity 0.5s, transform 0.6s 0.4s;
    opacity: 1;
    transform: translatex(-2rem);
  }

  .grid-conteiner3 {
    display: none;
  }

  .vidro-grids {
    box-sizing: border-box;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 2rem;
    margin: auto;
  }
  .vidro {
    padding: 0;
  }
  .card {
    padding: 2.5rem 2rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2rem;
  }

  .grid-conteiner1 {
    display: grid;
    grid-template-rows: 64rem 45rem;
    grid-template-columns: repeat(3, 12.26rem);
    grid-gap: 1rem;
    margin-bottom: 1rem;

    grid-template-areas:
      "about     about     about"
      "knowledge curriculo curriculo"
      "knowledge curriculo curriculo";
  }

  .about article {
    flex-direction: column;
  }

  .about {
    width: 38rem;
  }

  .curriculo {
    width: 24.5rem;
  }
  .curriculo img {
    margin-bottom: 2rem;
  }
  .curriculo button {
    display: block;
    background-color: #6ecec2;
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
  }

  .knowledge {
    padding: 2.5rem 1rem;
  }

  .icons-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95%;
  }

  .icons-conteiner img {
    width: 5rem;
    height: 5rem;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .icons-conteiner img:hover {
    transform: scale(1.2);
  }

  .tooltip {
    position: relative;
    display: inline-block;
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tooltiptext {
    visibility: hidden;
    opacity: 0;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%, 2.5rem);
    color: white;
    background: rgba(10, 34, 78, 0.582);
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 1.8rem);
  }

  .grid-conteiner2 {
    display: grid;
    grid-template-rows: 64rem 45rem;
    grid-template-columns: repeat(3, 12.26rem);
    grid-gap: 1rem;
    margin-bottom: 1rem;

    grid-template-areas:
      "projects     projects     projects"
      "arts         arts         arts";
  }

  .projects {
    width: 38rem;
    padding: 0;
  }

  .arts {
    width: 38rem;
    padding: 0;
  }
}
